GetBanks/Connected Services/ServiceReferences/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61159/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61159/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61159/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceApp" />
      <xsd:import schemaLocation="http://localhost:61159/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ClassEngine" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getName_InputMessage">
    <wsdl:part name="parameters" element="tns:getName" />
  </wsdl:message>
  <wsdl:message name="IService1_getName_OutputMessage">
    <wsdl:part name="parameters" element="tns:getNameResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAge_InputMessage">
    <wsdl:part name="parameters" element="tns:getAge" />
  </wsdl:message>
  <wsdl:message name="IService1_getAge_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAgeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getBanks_InputMessage">
    <wsdl:part name="parameters" element="tns:getBanks" />
  </wsdl:message>
  <wsdl:message name="IService1_getBanks_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBanksResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getInterestRate_InputMessage">
    <wsdl:part name="parameters" element="tns:getInterestRate" />
  </wsdl:message>
  <wsdl:message name="IService1_getInterestRate_OutputMessage">
    <wsdl:part name="parameters" element="tns:getInterestRateResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ResponseMessageToQueue_InputMessage">
    <wsdl:part name="parameters" element="tns:ResponseMessageToQueue" />
  </wsdl:message>
  <wsdl:message name="IService1_ResponseMessageToQueue_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResponseMessageToQueueResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_LoanRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:LoanRequest" />
  </wsdl:message>
  <wsdl:message name="IService1_LoanRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoanRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:sendMessage" />
  </wsdl:message>
  <wsdl:message name="IService1_sendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getName">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getName" message="tns:IService1_getName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getNameResponse" message="tns:IService1_getName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAge">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAge" message="tns:IService1_getAge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAgeResponse" message="tns:IService1_getAge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBanks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getBanks" message="tns:IService1_getBanks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getBanksResponse" message="tns:IService1_getBanks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getInterestRate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getInterestRate" message="tns:IService1_getInterestRate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getInterestRateResponse" message="tns:IService1_getInterestRate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ResponseMessageToQueue">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ResponseMessageToQueue" message="tns:IService1_ResponseMessageToQueue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ResponseMessageToQueueResponse" message="tns:IService1_ResponseMessageToQueue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoanRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/LoanRequest" message="tns:IService1_LoanRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoanRequestResponse" message="tns:IService1_LoanRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sendMessage" message="tns:IService1_sendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sendMessageResponse" message="tns:IService1_sendMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getName">
      <soap:operation soapAction="http://tempuri.org/IService1/getName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAge">
      <soap:operation soapAction="http://tempuri.org/IService1/getAge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBanks">
      <soap:operation soapAction="http://tempuri.org/IService1/getBanks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInterestRate">
      <soap:operation soapAction="http://tempuri.org/IService1/getInterestRate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ResponseMessageToQueue">
      <soap:operation soapAction="http://tempuri.org/IService1/ResponseMessageToQueue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoanRequest">
      <soap:operation soapAction="http://tempuri.org/IService1/LoanRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendMessage">
      <soap:operation soapAction="http://tempuri.org/IService1/sendMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:61159/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>